<div>

<jce-spinner [visible]= "isLoading" ></jce-spinner>
  <ul  class="list-group users" *ngFor="let invoice of invoices" >
      <li class="list-group-item" [class.on] = "currentInvoice == invoice"  
            (click)="selectInvoice(invoice)" >

            <span>product Name:</span>{{invoice.pname}}<br>
            <span>Amount:</span>{{invoice.amount}}
 
      </li>
  </ul>
</div>
