<div class="container">
  <h1>
    {{title}}
  </h1>
<nav>
<!--  <a  routerLink = "/users">users</a>
  <a  routerLink = "/posts">posts</a>
  <a  routerLink = "/products">Products</a> -->
  <a  routerLink = "/invoice">Invoices</a>
    <a  routerLink = "/invoicesForm">Invoices Form</a>
</nav>
<router-outlet></router-outlet>
</div>
